# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/.idea/
*.iml
bin/
obj/
.env
*.log
/httpRequests/

# Secrets
appsettings.json
appsettings.Development.json
appsettings.Production.json

# But keep the example file (create one with fake values)
!appsettings.Example.json

# Node
node_modules/
dist/
.npm/

# OS
.DS_Store
Thumbs.db

# Misc
*.user
*.suo
.vscode/
