<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Bank – Change Password</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="../css/changePassword.css"/>
</head>

<body>
<header class="header">
    <div class="logo">
        <span class="logo-icon">GS</span>
        <div>
            <span class="logo-name">GoldStone Bank</span>
        </div>
    </div>

    <span class="admin-badge">ChangePassword Panel</span>
</header>

<main class="main">
    <section class="login-card">
        <div class="alert" id="alert-box"></div>

        <h2 class="form-title">Change Password</h2>

        <div class="field-group">
            <label for="clientID">ID:</label>
            <input type="text" id="clientID" placeholder="ID" />
        </div>

        <form id="login-form">
            <div class="field-group">
                <label for="oldPassword">Old Password:</label>
                <input type="text" id="oldPassword" placeholder="Old password" />
            </div>

            <div class="field-group">
                <label for="newPassword">New password:</label>
                <input type="text" id="newPassword" placeholder="New password" />
            </div>

            <button type="submit" class="changePassword-btn" id="changeButton">Add</button>
            <button type="button" class="goBack" id="goBack">Go Back</button>
        </form>
    </section>
</main>
<footer class="footer">GoldStone Bank 2026</footer>

<script src="../js/changePassword.js"></script>

</body>
</html>